* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  margin: 26px 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
  max-width: 720px;
  background-color: white;
  border-radius: 6px;
}

.mainTitle {
  margin-top: 26px;
}

.visually-hidden {
  display: none;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}
